*{
    box-sizing: border-box;
}
body{
    margin:0 auto;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}
.outer-container{
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container{
    /* border:1px solid; */
    border-radius: 5px;
    background-color: aliceblue;
    border-radius:5px ;
    height:95vh;
    width:45vw;
    display:flex;
    flex-direction:column;
    z-index:10;
}
.title{
    height:10vh;
    width:100%;
    font-family: 'Pacifico', cursive;
    font-size: x-large;
    background-color: rgb(12, 140, 179);
    /* border: 1px solid; */
    display: flex;;
    justify-content: center;
    align-items: center;
    border-radius:5px ;
    box-shadow: 4px 4px 2px gray ;
}
img{
    max-height: 100%;
    max-width: 100%;
    /* border:1px solid; */
}
.palatte{
    height:13vh;
    width:100%;
    display:flex;
    box-shadow:5px 5px 10px;
}
.section{
    height:80%;
    width:50%;
    padding-top: 10px;
    display:flex;
    justify-content: center;
    align-items: space-evenly;
}
.colors{
    height:80%;
    width: 50%;
    display:flex;
    flex-wrap:wrap;
    box-shadow:4px 4px 10px;
    align-items: center;
}
.color{
    height:50%;
    width:25%;
    /* border:1px solid; */
    border-radius: 2px;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}

.orange{
    background-color:orange;
}
.black{
    background-color: black;
}

.pink{
    background-color:pink;
}
.lightgreen{
    background-color: lightgreen;
}
.board-container{
    height: 75vh;
    width:100%;
    padding-top: 10px;
    /* border:1px solid; */
}
.color:hover{
    border:2px solid black;
    cursor:pointer;
}
.sec>img:hover{
    border:2px solid black;
    cursor:pointer;
}


/* score  */
.score-container{
    height:50%;
    width:100%;
    border:2px solid;
}
.scoreboard{
    height:92%;
    /* border:1px solid red; */
}
.score-title{
    height:12%;
    /* border:1px solid; */
    text-align:center;
    /* padding-top: 3px; */
    font-size:x-large;
    background:linear-gradient(to bottom, rgb(240, 173, 48), rgb(185, 106, 221)) ;   
}

.score{
    height: 30px;
    /* border:1px solid blue; */
    margin-bottom: 3px;
    margin-left :14px;
    margin-right:14px;
    /* background-color: rgb(40, 74, 104); */
    display:flex;
}

.player-name{
    width:70%;
}
.player-points{
    width:30%;
}
.game-data{
    font-size:x-large;
    font-style: "Arial";
    color: rgb(184, 228, 80);
}
.score:hover{
    cursor:pointer;
    border:1px rgb(161, 228, 84) solid;
}


/* word  */

.word{
    background-color: aqua;
    text-align: center;
    font-size: x-large;
}





/* cahtBox */
.chat-container{
    height:50%;
    width:100%;
    /* border:1px solid red; */
}
.chat-title-bar{
    height:15%;
    width:100%;
    /* border:1px solid blue; */
    background: linear-gradient(to bottom, #33ff33 0%, #ec9f0f 100%);
    font-family: 'Pacifico', cursive;
    display:flex;
}
.chat-logo{
    height:100%;
    width:10%;
    padding-left: 10px;
}
.chat-title{
    height:100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
.chat-box{
    height:75%;
    width:100%;
    margin: auto;
    /* border:1px solid; */
    overflow-y: auto;
    overflow-x: auto;
}
.msgInp{
    height:10%;
    width:100%;
    /* border:1px solid green; */
    background-color:rgb(18,39,58);
    display:flex;
    
}
.chat{
    height:fit-content;
    width:fit-content;
    padding:3px;
    margin:4px;
    border:1px solid;
    border-radius: 10px;
}
.left{
    float:left;
    clear:both;
    background-color: rgb(117, 219, 219);
    font-family: "Helvetica";
}
.right{
    float:right;
    clear:both;
    background-color: #97e797;
    font-family: "Helvetica";
}
.input-bar{
    height: 34px;
    width:89%;
    border:2px solid rgb(116, 116, 2);
    padding-right: 5px;
    background-color: beige;
    border-radius:20px;
    font-size: x-large;
    overflow:auto;
}
.sendbtn{
    height:100%;
    width:10%;
    border:1px white;
    text-align: center;
    cursor:pointer;
}
.sendImg{
    max-width: 100%;
    max-height: 100%;
}
.chat-box::-webkit-scrollbar {
    display: none;
  }




